html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.root-element {
    width: 100%;
    height: 100%;
    margin: 0;
}

.tag-input > ul {
    @apply w-full
}

.file-row:hover .details {
    @apply flex;
}

.chip:hover .remove {
    display: inline-block;
}

/* used in refresh menu item in Explore.tsx */
.refresh-menu-item .p-menuitem-link .p-menuitem-icon.pi.pi-refresh {
    @apply mr-0
}