@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.root-element {
    width: 100%;
    height: 100%;
    margin: 0;
}

.tag-input > ul {
    @apply w-full
}

.file-row:hover .details {
    @apply flex;
}